.container {
    width: 810px;
    height: 500px;
    background-color: #000;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}

.wrapper {
    /*padding-top: 83px;*/
    background-color: blue;
    margin: 0 auto;
    width: 545px;
    /*height: 310px;*/
}

.align {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.center {
  /*background-color: blue;*/
  width: 70%;
  height: 70%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

h1 {
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	/*background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
	/*background-image: url('../images/title.png');*/
	/*background-repeat: no-repeat;*/
	/*width: 212px;*/
	/*height: 0;*/
	/*padding: 31px 0 0 0;*/
	/*color: red;*/
	/*overflow: hidden;*/
	text-align: center;
}

p {
	color: #fff;
	text-align: center;
}

.page {
    width: 810px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
}

.container .hidden {
    opacity: 0;
    z-index: -1;
}

.start {
    
}

.webcam {
    
}

.smile {
    
}

.nosmile {
    
}

.videos {
    
}

/*
 SMILE TRACKER
*/
#overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        -o-transform : scaleX(-1);
        -webkit-transform : scaleX(-1);
        transform : scaleX(-1);
        -ms-filter : fliph; /*IE*/
        filter : fliph; /*IE*/

        width : 600px;
        height : 450px;
}

#videoel {
        -o-transform : scaleX(-1);
        -webkit-transform : scaleX(-1);
        transform : scaleX(-1);
        -ms-filter : fliph; /*IE*/
        filter : fliph; /*IE*/

        width : 600px;
        height : 450px;
}