.container {
	width: 810px;
	height: 500px;
	background-color: #000;
	background-image: url('../images/bg.png');
	background-repeat: no-repeat;
	margin: 0 auto;
}

.wrapper {
	/*padding-top: 83px;*/
	background-color: blue;
	margin: 0 auto;
	width: 545px;
	/*height: 310px;*/
}

.align {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center {
	width: 545px;
	height: 310px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -272.5px;
	margin-top: -350px;
	background-color: blue;
}

h1 {
	background-image: url('../images/title.png');
	background-repeat: no-repeat;
	width: 212px;
	height: 0;
	padding: 31px 0 0 0;
	color: red;
	overflow: hidden;
	text-align: center;
}

p {
	color: #fff;
	text-align: center;
}