/* MAIN */
.container {
    width: 810px;
    height: 500px;
    position: relative;
    background: #000 url(../images/bg.png) scroll no-repeat;
}

.page {
    width: 810px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.container .hidden {
    display: none;
    opacity: 0;
}

/* START */

.startTitle {
    display: inline-block;
    width: 221px;
    height: 31px;
    background: transparent url(../images/title.png) scroll no-repeat;
    text-indent: -99999px;
}

.startButton {
    display: inline-block;
    width: 199px;
    height: 62px;
    background: transparent url(../images/watch.png) scroll no-repeat;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
}

/* WEBCAM */

.webcamTitle {
    display: inline-block;
    width: 434px;
    height: 72px;
    background: transparent url(../images/letwebcam.png) scroll no-repeat;
    text-indent: -99999px;
}